.schema-page {
  padding: 20px;
  width: 100%;
  height: calc(100vh - 50px);
  font-family: Arial, sans-serif;
  color: var(--schema-text-color);
  background-color: var(--schema-bg-color);
  overflow: auto;
}

.schema-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
  color: var(--schema-title-color);
}

.schema-description-section, .schema-columns-section {
  margin: 30px 0;
}

.schema-description-title, .schema-columns-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--schema-section-title-color);
}

.schema-description-table, .schema-columns-table {
  width: 50%;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--schema-table-shadow);
  overflow: hidden;
  margin-bottom: 20px;
}

.schema-description-table th,
.schema-columns-table th {
  background-color: var(--schema-table-header-bg);
  color: var(--schema-table-header-text);
  font-weight: 600;
  padding: 12px 15px;
  text-align: left;
}

.schema-description-table td,
.schema-columns-table td {
  padding: 12px 15px;
  color: var(--schema-table-header-text);
  border-bottom: 1px solid var(--schema-table-border-color);
}

.schema-columns-table tbody tr:nth-child(even) {
  background-color: var(--schema-table-row-even-bg);
}

.schema-columns-table tbody tr:nth-child(odd) {
  background-color: var(--schema-table-row-odd-bg);
}

.schema-columns-table tbody tr:hover {
  background-color: var(--schema-table-row-hover-bg);
  transition: background 0.3s;
}


.schema-msg-container, .schema-err-msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.schema-msg-container p {
  font-size: 1.5rem;
  color: var(--schema-msg-color);
}

.schema-err-msg-container p {
  font-size: 2rem;
  color: var(--schema-err-msg-color);
}


.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
