.table-container {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: none;
  border: 1px solid var(--tables-page-bg-color);
  border-radius: 8px;
}

.table-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--tables-page-nav-text-color);
  text-transform: capitalize;
}

.table-header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--tables-page-bg-color);
  border-bottom: 1px solid var(--tables-page-nav-border-color);
}

.rows-per-page-selector {
  padding: 8px 12px;
  border: 1px solid var(--table-border-color);
  border-radius: 5px;
  background: var(--table-selector-bg);
  cursor: pointer;
  transition: all 0.3s;
}

.rows-per-page-selector:hover {
  background: var(--table-selector-hover-bg);
}

.table-wrapper {
  max-height: calc(100vh - 167px);
  overflow: auto;
  background: white;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

.table-header {
  background: var(--table-bg-color);
  font-weight: 600;
  color: var(--table-text-color);
  text-align: left;
}

.table-header th {
  padding: 12px 15px;
  border-bottom: 2px solid var(--table-border-color);
}

.table-row {
  transition: background 0.3s;
}

.table-row:hover {
  background: var(--table-hover-bg-color);
}

.table-cell {
  padding: 12px 15px;
  border-bottom: 1px solid var(--table-border-color);
  color: var(--table-cell-text-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  background: var(--table-bg-color);
  border-top: 1px solid var(--table-border-color);
}

.pagination-button {
  padding: 10px 20px;
  margin: 0 5px;
  background: var(--table-btn-bg-color);
  color: var(--table-pagination-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.pagination-button:hover {
  background: var(--table-btn-hover-bg-color);
}

.pagination-button:disabled {
  background: var(--table-btn-disabled-bg);
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 15px;
  font-size: 16px;
  color: var(--table-text-color);
}