* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.main-body {
  display: flex;
  height: 100%;
  overflow: hidden;
}


:root {
  --body-background: #f3f3f3;
  --navbar-top-bg-color: #dddddd;
  --navbar-top-text-color: #464646;
  --navbar-top-bg-color-hover: #d2d2d2;

  --navbar-sidebar-bg-color: #2c2c2c;
  --navbar-sidebar-text-color: #808080;
  --navbar-sidebar-fg-color-hover: #ffffff;
  --navbar-sidebar-active-border-color: #dddddd;
  --navbar-sidebar-active-fg-color-active: #ffffff;

  /* Sidebar Colors */
  --sidebar-bg-color: #f3f3f3;
  --sidebar-text-color: #616161;
  --sidebar-icon-color: #424242;
  --sidebar-bg-color-hover: #f0f0f0;
  --sidebar-selected-bg-color: #e4e6f1;

  /* Tables Page  */
  --table-bg-color: #f1f3f5;
  --table-border-color: #e0e0e0;
  --table-text-color: #555;
  --table-cell-text-color: #444;
  --table-hover-bg-color: #f0f0f0;
  --table-btn-bg-color: #007bff;
  --table-btn-hover-bg-color: #0056b3;
  --table-btn-disabled-bg: #ccc;
  --table-selector-bg: #f1f3f5;
  --table-selector-hover-bg: #e0e0e0;
  --table-pagination-text-color: #fff;

  /* Schema Page Colors */
  --schema-bg-color: #ffffff;
  --schema-text-color: #333;
  --schema-title-color: #2c3e50;
  --schema-section-title-color: #34495e;
  --schema-table-header-bg: #f5f5f5;
  --schema-table-header-text: #2c3e50;
  --schema-table-row-even-bg: #f9f9f9;
  --schema-table-row-odd-bg: #ffffff;
  --schema-table-row-hover-bg: #f1f1f1;
  --schema-table-border-color: #ddd;
  --schema-table-shadow: rgba(0, 0, 0, 0.1);
  --schema-msg-color: #616161;
  --schema-err-msg-color: #c26c6c;
}

body {
  background-color: var(--body-background);
}




