.sidebar {
  background-color: var(--sidebar-bg-color);
  width: 190px;
  height: calc(100vh - 50px);
  color: var(--sidebar-text-color);
  padding: 1px;
}

.sidebar-header {
  font-size: 2rem;
  margin: 10px 0;
  text-align: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
}

.sidebar-content ul li {
  padding: 8px;
  gap: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.sidebar-content ul li:hover {
  background-color: var(--sidebar-selected-bg-color);
}

.sidebar-item-normal {
  color: var(--sidebar-text-color);
}

.sidebar-item-active {
  background-color: var(--sidebar-selected-bg-color);
}

.sidebar-table-name {
  font-size: 1.3rem;
  color: var(--sidebar-text-color);
}